@import 'colors.css'; 
@import 'ui.css';  
@import 'captions.css';  

#visual-elt{
    position:absolute;
    background-image-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#images, #gutters{
    background-color:white;
    position:absolute; 
    left:0px;
    top:40px; 
    width:1800px;
    height:1350px;
}

#images img{
    border: 3px red solid; 
}
.gutter, .hGutter {
    position: absolute; 
    background-color:white;
    z-index:15; 
}

.hGutter {
    height:20px; 
}

.locationDescription{
    color: orange; 
    font-style: 'verdana';
}
#eventContainer {
    height:15%;
}

#eventContainer TR {
            width:100%;
}

#eventContainer TD {
}

.cover{
            adding: 0 1.5rem;
        }

