@import 'colors.css'; 
@import 'ui.css';   
@import 'extraSolar.css' ;

#images, #captions, #gutters{
    background:none;
    position:absolute; 
    left:0px;
    top:40px; 
    width:1800px;
    height:1350px;
}

#images img{
    border: 3px red solid; 
}
.gutter, .hGutter {
    position: absolute; 
    background-color:white;
    z-index:15; 
}

.hGutter {
    height:20px; 
}

.oedipusCaption, .oracleCaption, .sphincsCaption {
    position: absolute; 
    padding-left: 10px; 
    padding-right: 10px; 
}

.sphincsCaption {
    background-color:rgba(255, 0, 0, 0.8);
    padding-left:10px;
    border: 3px solid white;
    font-family: 'Architects Daughter', cursive;
    font-stretch: extra-expanded;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    color: white; 
}

.oracleCaption {
    background-color: black; 
    font-family: 'Frijole', cursive;
    font-size: 2.5em;
    text-align: center;
    color: white; 
}

.oedipusCaption {
    position: absolute; 
    padding-left: 10px; 
    padding-right: 10px; 
    background-color: rgba(255,0,0,0.8); 
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    text-align: center;
    border: 3px solid white;  
    color: white; 
    font-weight:bold;
}

#eventContainer {
    height:15%;
}

#eventContainer TR {
            width:100%;
}

#eventContainer TD {
}

.cover{
            adding: 0 1.5rem;
        }

